<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | default: page.summary | default: page.excerpt | strip_html | truncate: 200 | default: site.description }}">
  {% include open_graph.html %}
  <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - Writings" href="{{ site.url }}/feed.xml">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/css/screen.css" }}">
  <script src="https://kit.fontawesome.com/64f7a775f2.js" crossorigin="anonymous"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YYLEYLDGJV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-YYLEYLDGJV');
  </script>
</head>
