// Font Weights
$light:   300;
$regular: 400;
$bold:    700;

// Header
$header-width: 1400px;
$header-height: 3em;
$header-margin: 1em;

// Font size
$font-size: 1.0em;

// Line Height
$line-height: 1.5em;

// Colors
$header-text-color: #fff;
$base-color:        #8594A5;
$secondary-color:   #25C09D;
$link:              #25C09D;

// Grid
$content-width: 62em;

// Mobile 672px
$mobile: "(max-width: 42em)";

// Tablet 800px
$tablet: "(max-width: 50em)";

// Desktop 1120px
$desktop: "(max-width: 70em)";
