pre {
  background: #f7f7f9;
  padding: 1em;
}

.gist-meta {
  display: none !important;
}

.gist-data {
  background-color: transparent !important;
}

.gist-file {
  border-bottom: 0 solid transparent !important;
}
