*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.haskell-logo {
  background-image: url("haskell_logo.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  display: inline-block;
  height: 0.7em;
  width: 1.1em;
  margin: 0px 0.2em;
}

.movie {
  float: left;
  width: 2em;
  height: 2em;
  background-image: url("/assets/images/movie.svg");
  background-size: 2em;
  background-repeat: no-repeat;
  border: none;
  margin-left: 0.55em;
  margin-top: 0.55em;
}

.resume {
  #download {
    float: right;
    width: 2em;
    height: 2em;
    background-image: url("/assets/images/download_icon.svg");
    background-size: 2em;
    background-repeat: no-repeat;
    border: none;
  }

  #download:hover {
    background-image: url("/assets/images/download_icon_hover.svg");
  }
}

table {
  margin-top: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #cfcfcf;
}

thead tr {
  background-color: #eee;
}

tr {
  border-bottom: 1px solid #cfcfcf;
}

td, th {
  padding: 4px;
  border-left: 1px solid #cfcfcf;
  width: 150px;
}

td:last-child, th:last-child {
  border-left: 2.5px solid #cfcfcf;
  font-weight: 800;
}

td:last-child {
  background-color: #F5F5F5;
}

body {
  background: $background;
}

dd {
  color: #979CA3;
  margin-bottom: 0.7em;
  font-size: 1.3em;
  line-height: 1.5em;
}

dt {
  font-size: 1.3em;
  line-height: 1.5em;
}

.answer {
  color: $secondary-color;
  font-weight: 600;
}

.play {
  .idea {
    width: 100%;
    margin-bottom: 4em;
  }
  img {
    margin-top: 0.5em;
    width: 100%;
  }
  h1 {
    color: $base-color;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #eceef1;
  }
}

.resume {
  h1 {
    color: $base-color;
    border-bottom: 1px solid #eceef1;
  }
  h3 {
    margin-top: 1em;
    color: $base-color;
    font-size: 1.3em;
    font-weight: $regular;
  }
  p {
    color: $base-color;
    margin: 0;
    font-size: 1.3em;
    font-weight: $regular;
  }
  ul {
    margin-top: 0.5em;
  }
  .duration {
    color: $base-color;
    font-size: 1em;
  }
}

.hello {
  h1 {
    text-align: center;
  }
  img {
    width: 300px;
  }
}

.container {
  max-width: $content-width;
  margin: 4em auto;
  width: 90%;
  overflow: hidden;

  @media #{$mobile} {
    margin: 2.2em auto;
  }
}

.demo-container {
  max-width: $content-width;
  height: 550px;
  margin: 4em auto;
  width: 90%;
  overflow:  hidden;

  @media #{$mobile} {
    margin: 2.2em auto;
  }

  p {
    color: #687789e3;
    font-family: 'futura';
  }
}

.sandbox {
  text-align: center;
}

.center {
  text-align: center;
}

.profile-image {
  background-image: url('/assets/images/profile.png');
  height: 186px;
  width:  186px;
  background-size: cover;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;

  @media #{$mobile} {
    margin: 0 auto 2em auto;
  }
}

.overlay {
  display: block;
  position: absolute;
  background-color: #B7C7D8;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  opacity: 0.10;
}

.social-links {
  margin-bottom: 2em;
  text-align: center;
  a {
    transition: color 0.2s ease;
    color: lighten($base-color, 10%);
    font-size: 1.5em;
    padding: 0.5em 0.3em;
    display: inline-block;
    &:hover {
      color: $base-color;
    }
  }
}

.column {
  width: 100%;
  float: left;
  margin-left: 5%;

  @media #{$mobile} {
    float: none;
    margin: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  &.one-third {
    width: 22%;
  }

  &.two-thirds {
    width: 73%;
  }

  &.one-third, &.two-thirds {
    @media #{$mobile} {
      width: 100%;
    }
  }
}

header {
  background: $header-color;
  overflow: hidden;

  .site-title {
    float: left;
    padding: 1.3em 1.3em 1.3em 0;
    @media #{$mobile} {
      display: block;
      float: none;
      text-align: center;
    }
  }

  a {
    color: rgba(255,255,255,1);
    display: inline-block;
    font-size: 1.2em;
    font-weight: $regular;
    margin: 0;
    padding: 1.3em;
    &:hover {
      color: #fff;
    }
  }

  .container {
    max-width: $header-width;
    margin: 0 auto;
  }

  ul {
    float: right;
    font-size: 1em;
    display: inline-block;
    margin: 0;

    @media #{$mobile} {
      margin: 0 auto;
      width: 100%;
    }
  }

  li {
    float: left;
    transition: background-color 0.1s ease;
    a { color: rgba(255,255,255,.8) };
    a:hover { color: rgba(255,255,255,1); }
    &:first-child { margin: 0; }

    @media #{$mobile} {
      display: inline-block;
      /*border-left: 1px solid rgba(255,255,255,0.2); */
      margin: 0;

      &:first-child {
        border-left: none;
      }
    }
  }
}

.posts li {
  padding: 2em 0;
  border-bottom: 1px solid lighten($base-color, 20%);
  &:first-child {
    padding: 0 0 2em 0;
  }
  &:last-child {
    border: none;
  }
}

.resume {
  a {
    border-bottom: 1px solid;
  }
}

article {
  ul {
    padding: 1.1em;
    li {
      list-style: circle;
      color: $secondary-color;
      span {
        color: lighten($base-color, 10%);
      }
    }
  }

  a {
    border-bottom: 1px solid;
  }
}

img {
  width: 100%;
}

.definition {
  border-radius: 0.2em;
  background-color: #25C09D;
  padding: 1.4em;
  color: white;

  a {
    color: lighten($link, 40%);
  }
}

.abstract {
  ul {
    border-bottom: 1px solid lighten($base-color, 20%);
    color: lighten($base-color, 10%);
    font-style: italic;
  }
  h4 {
    border-top: 1px solid lighten($base-color, 20%);
    font-style: normal;
    letter-spacing: 0;
    padding: 1.2em 0 0 0;
    text-transform: none;
  }
}

.title-container {
  color: lighten($base-color, 10%);
  font-weight: $regular;
  overflow: hidden;
  margin: 10px auto;
  h1 {
    font-size: 2.2em;
  }
  &.article {
    margin: 10px auto 3em auto;
    text-align: center;
    h1 {
      margin-bottom: 0.4em;
      font-size: 2.6em;
    }
  }
}

.title-info {
  color: lighten($base-color, 25%);
}

.date {
  @media #{$mobile} {
    width: 100%;
    margin: 0;
  }
}

.read-time {
  @media #{$mobile} {
    width: 100%;
    margin: 0;
    text-align: left;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid lighten($base_color, 30%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2em 0;
}

section ol {
  font-size: 1.1em;
  margin: 0;
  padding: 0 1.7em;
}

article ol {
  font-size: 1.3em;
  margin: 1.2em 0;
  padding: 0 1.9em;
  li {
    padding: 0.2em 0;
  }
}

article {
  h3 {
    color: darken($base-color, 10%);
    font-size: 1.7em;
    font-weight: 400;
    line-height: 1.1em;
    margin: 1.4em 0 0.6em 0;
  }
}

.title {
  color: $base-color;
  display: block;
  font-weight: $regular;
  line-height: 1.1em;
  margin-bottom: 0.2em;
}

.title a {
  color: $base-color;
  display: block;
  &:hover {
    color: lighten($base-color, 10%);
  }
}

.spacer {
  color: $secondary-color;
  letter-spacing: -2px;
  margin: 0 5px;
}

.divide {
  border: 1px solid lighten($base-color, 20%);
  display: block;
  width: 3em;
  margin: 1.5em auto 1em auto;
}

.current a {
  color: rgba(255,255,255,1);
  position: relative;
  &:after {
    bottom: -4px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: white;
    border-width: 11px;
    margin-left: -11px;
  }
}

.read-more {
  font-size: .8em;
  display: block;
  text-align: right;
}

.content-preview {
  color: $base-color;
  margin-bottom: 1.5em;
  p {
    font-size: 1.1em;
  }
  code {
    font-size: inherit;
    font-family: monospace;
    background: #f5f5f5;
    padding: 0.1em 0.3em;
    border-radius: 4px;
  }
}
