h1, h2, h3, h4  {
  font: $header-font;
  margin: 0;
}

h1 {
  color: $slate-blue;
  font-size: 2em;
  font-weight: 400;
}

h2 {
  color: $medium-gray;
  font-size: 1.5em;
  font-weight: 300;
}

p { margin-top: .5em; }

ul {
  margin: 0;
  padding: 0;

  li { list-style: none; }
}

a {
  color: $red;
  text-decoration: none;

  &:hover { color: $black; }
}


