@use "sass:color";
@use "../variables" as *;

body {
  font-family: "Source Serif 4", Georgia, serif;
  font-weight: $regular;
  font-style: normal;
  font-size: 1.1em !important;
  line-height: 1.7em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $base-color;
  letter-spacing: 0.01em;
}

code {
  font-size: 0.9em;
}

h1, h2, h3, h4  {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-style: normal;
  font-weight: $regular;
  line-height: 1.2em;
  margin: 0;
}

h1 {
  color: color.adjust($base-color, $lightness: 20%);
  font-weight: $regular;
}

h4 {
  font-weight: $bold;
  letter-spacing: 1px;
  margin: 1.5em 0 0 0;
  text-transform: uppercase;
}

p {
  font-weight: $regular;
  margin: 1em 0 0 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $link;
  &:hover {
    color: color.adjust($link, $lightness: -10%);
  }
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    margin-bottom: 0.2em;
  }
}
